body{
    background-image: url(spacex-NC37HQXdpZ0-unsplash.jpg);
    background-size: cover;
    height: 100vh;
}

.navbar-brand{
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 21px;
}

.lock{
    color: white;
    font-size: 20px;
}

h1{
    font-size: 51px;
}

.time{
    margin-top: 45px;
}

.icon-size{
    font-size: 20px;
}

p{
    font-size: 9px;
    margin-bottom:-7px;
}

.border-radius{
    border-radius: 13px;
}

.bg-img{
     background-image: url(leandra-rieger-31p65jYy7gE-unsplash.jpg) !important;
     background-size: cover;
    height: 100vh;
}

.footer-border{
    border-radius: 13px;
    background-color: white;
    width: 28px;
    padding: 2px;
    height: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-wrapper{
    height: 100vh;
}
